<form method="post" action="/landmarks/<%= @landmark.id %>">
  <label>Name</label>
  <input type="text" id="name" name="landmark[name]" value="<%= @landmark.name %>">
  <label>Year Completed</label>
  <input type="text" id="year_completed" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">

  <input type="submit" value="Edit Landmark">

</form>
