<form method="post" action="/figures">
  <label>Name</label>
  <input type="text" id="figure_name" name="figure[name]">

  <label>Titles</label>
  <% Title.all.each do |title| %>
    <label><%= title.name %></label>
    <input type="checkbox" id="<%= title.id %>" value="<%= title.id %>" name="figure[title_ids][]">
  <% end %>
</form>
